<h1>Thanks for submitting your code!</h1>

<% if @pair %>
  <!-- TODO: remove inline styles -->
  <!-- TODO: get somebody who is good at UI to make this look better -->
  <div>
    <div style="float:left">
      <img src="https://secure.gravatar.com/avatar/<%= @pair.gravatar_id %>" alt="Gravatar" style="margin-right: 18px" />
    </div>
    <div>
      <a href="mailto: <%= @pair.email %>?subject=Pair Programming">Click here</a> to send an email and set up a pairing session! Don't be shy!<br />
      Your pair is <a href="mailto: <%= @pair.email %>"><%= @pair.email %></a><br />
      Check out their Github profile: <a href="https://github.com/<%= @pair.github_login %>">https://github.com/<%= @pair.github_login %></a>
    </div>
  </div>
<% else %>
  <p>
    Your pair hasn't signed in yet, keep your fingers crossed!
  </p>
<% end %>

<div style="clear: left;"></div>

<p>
Your code: <strong><%= @code_value %></strong>
</p>
