<h1>
  Hello there, <%= @name %>!
</h1>

<% if @messages %>
  <div class="alert-box">
    <h4>There were issues with your submission:</h4>
    <% @messages.each do |message| %>
      <div> - <%= message %></div>
    <% end %>
  </div>
<% end %>

<% if @has_code %>
  <div class="alert-box">
    <h4>You have already entered a code:</h4>
    <div>
      <a href="/code" class="button secondary">Click here to view the details</a>
    </div>
  </div>
<% end %>

<form action="<%= url('/code') %>" method='POST'>
  <p>
    Enter your code:
    <input type='text' name='code' value='<%= @code %>'>
  </p>
  <p>
    Email:
    <input type='text' name='email' value='<%= @email %>'>
  </p>
  <input type='submit' class='button'>
</form>